{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "plugins": ["react", "import", "react-native"],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react-native/all"
  ],
  "rules": {
    "no-console": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "react-native/no-color-literals": 0
  }
}
